Repository coders-one/coders-one-api-key-authenticator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update .lintstaged to include .ts with prettier
  .lintstagedrc.json
Due: prettier --write

Set up redis connections with ioredis
  package-lock.json
  package.json
  src/redis/redis.ts
Due: eslint, prettier --write

Create getApps function
  src/redis/getApps/getApps.ts
Due: eslint

Add test cases for apps found and no apps found in getApps
  .eslintrc.cjs
  package-lock.json
  package.json
  src/index.ts
  src/redis/getApps/getApps.test.ts
  src/redis/redis.ts
Due: eslint, prettier --write

Exclude redis.ts from coverage collection
  jest.config.cjs
  sonar-project.properties
Due: none

Create authenticateApp function and extract app names to utils
  src/authenticateApp/authenticateApp.ts
  src/utils/appNames.ts
Due: eslint

Extract redis mock to setupTests and add test for authenticateApp
  jest.config.cjs
  src/authenticateApp/authenticateApp.test.ts
  src/redis/getApps/getApps.test.ts
  src/setupTests.ts
Due: eslint

Add test for unauthenticated app
  src/authenticateApp/authenticateApp.test.ts
Due: eslint

Exclude setupTests from coverage collection
  jest.config.cjs
  sonar-project.properties
  src/authenticateApp/authenticateApp.test.ts
Due: eslint

Install tsup, create new build script and export authenticateApp
  .gitignore
  package-lock.json
  package.json
  src/authenticateApp/index.ts
  src/index.ts
Due: eslint, prettier --write

Exclude index.ts in authenticateApp from coverage collection
  jest.config.cjs
  sonar-project.properties
Due: none

Create build workflow
  .github/workflows/build.yml
Due: none

Create readme
  README.md
  package.json
Due: prettier --write

Create checkApiKey function returns middleware & test for ok request
  package-lock.json
  package.json
  src/checkApiKey/checkApiKey.test.ts
  src/checkApiKey/checkApiKey.ts
  src/types.ts
Due: eslint, prettier --write

Add test for checkApiKey middleware for unauthorized request
  src/checkApiKey/checkApiKey.test.ts
  src/checkApiKey/index.ts
  src/index.ts
Due: eslint

Update readme to include checkApiKey function
  README.md
Due: prettier --write

Add remove dist from gitignore and add to eslintignore
  .eslintignore
  .github/workflows/audit.yml
  dist/index.cjs
  dist/index.d.ts
  dist/index.js
Due: eslint, prettier --write

Remove files in package-json and add .npmignore
  .npmignore
  package.json
Due: prettier --write

Add 0 warning to eslint in lint-stage
  .lintstagedrc.json
Due: prettier --write

Add bcrypt and compare received key with hash
  README.md
  package-lock.json
  package.json
  src/authenticateApp/authenticateApp.test.ts
  src/authenticateApp/authenticateApp.ts
  src/checkApiKey/checkApiKey.test.ts
  src/checkApiKey/checkApiKey.ts
  src/loadEnvironments.ts
  src/redis/getApps/getApps.test.ts
  src/setupTests.ts
  tsconfig.json
Due: eslint, prettier --write

Update dist files with latest tsup build
  dist/index.cjs
  dist/index.d.ts
  dist/index.js
Due: eslint, prettier --write

Correct main, module and exports in package.json
  dist/index.cjs
  dist/index.d.ts
  dist/index.js
  package.json
  tsconfig.json
Due: eslint, prettier --write

Fix ioredis imports for package consumers using Jest
  dist/index.cjs
  dist/index.js
  src/redis/redis.ts
Due: eslint, prettier --write

Fix main and exports in package json because there is no mjs in bundle
  package.json
Due: prettier --write

Update authenticateApp to check all api-keys in targetApp
  src/authenticateApp/authenticateApp.test.ts
  src/authenticateApp/authenticateApp.ts
Due: eslint

Update checkApiKey with changes to authenticateApp
  dist/index.cjs
  dist/index.d.ts
  dist/index.js
  src/checkApiKey/checkApiKey.test.ts
  src/checkApiKey/checkApiKey.ts
Due: eslint, prettier --write

Update documentation with changes to authenticateApp and checkApiKey
  README.md
  src/loadEnvironments.ts
  src/types.ts
Due: eslint, prettier --write

Change getApps to getHash and use redis.hget method instead of get
  src/authenticateApp/authenticateApp.ts
  src/redis/getApps/getApps.test.ts
  src/redis/getApps/getApps.ts
  src/redis/getHash/getHash.test.ts
  src/redis/getHash/getHash.ts
  src/setupTests.ts
Due: eslint

Update checkApiKey to read X-API-NAME header for appToAuthenticate
  src/checkApiKey/checkApiKey.test.ts
  src/checkApiKey/checkApiKey.ts
  src/loadEnvironments.ts
  src/types.ts
  src/utils/requestHeaders.ts
Due: eslint

Update dist with new build files
  dist/index.cjs
  dist/index.d.ts
  dist/index.js
Due: eslint, prettier --write

Create CustomError and invalidApiKeyError
  dist/index.cjs
  dist/index.js
  src/CustomError/CustomError.test.ts
  src/CustomError/CustomError.ts
  src/checkApiKey/checkApiKey.test.ts
  src/checkApiKey/checkApiKey.ts
  src/types.ts
  src/utils/errors.ts
Due: eslint, prettier --write

Remove mocked functions from setupTests and move to mocks folder
  src/mocks/hashedKey.ts
  src/mocks/mockHashGet.ts
  src/redis/getHash/getHash.test.ts
  src/setupTests.ts
Due: eslint

Add post-merge hook to install dependencies after merge
  .husky/post-merge
Due: none

Install commitlint & add npx commitlint in commit-msg hook
  .husky/commit-msg
  commitlint.config.cjs
  package-lock.json
  package.json
Due: prettier --write

Relocation of rule no-implicit-coercion
  .eslintrc.cjs
Due: none

Add no-console rule in ESLint and remove check from pre-commit hook
  .eslintrc.cjs
  .eslintrc.json
  .husky/pre-commit
Due: prettier --write

Set strictNullChecks rule to true on tsconfig.json
  tsconfig.json
Due: prettier --write

Remove null from ESLint ban-types rule
  .eslintrc.cjs
Due: none

Add guard that checks if environmental variables are missing
  src/loadEnvironments.ts
Due: eslint

Add null type to getHash and its mock
  src/mocks/mockHashGet.ts
  src/redis/getHash/getHash.ts
Due: eslint

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{js,md,json}
